@mixin Font1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
@mixin Font1_I {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}
@mixin Font2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
@mixin Font2_I {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}
@mixin Font3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@mixin Font4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
