@import "./fonts";
@import "./colors";


/* ---- base ---- */
html,body{ 
	width:100%;
	height:100%;
	background:$color5;
}

html{
  -webkit-tap-highlight-color: $color5;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}



canvas{
  display:block;
  vertical-align:bottom;
 position: fixed;
}

#content{
  position: relative;
}


/* ---- particles.js container ---- */
#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 10;
}
